[application]
MSISDN_COUNTRY_CODE = "91"
MSISDN_DIGITS 		= "10"
APPLICATION_URL 	= "{application_url}"
CLI 				= '1223'
PAGINATION_LIMIT 	= 10
ORDER_RESULT 		= "'active','suspended','inactive'";

[mail]
MAIL_SUBJECT="Report"
MAIL_HOST="mail.symbioticinfo.com";
MAIL_FROM_NAME ="AIRTEL Report";
MAIL_FROM_EMAIL ="alerts@symbioticinfo.com";
MAIL_USER="alerts";
MAIL_PASS="";
MAIL_BODY ="";
TO_MAIL_IDS = ""
FIRST_AOC_MESSAGE                 = 1
SECOND_AOC_MESSAGE                = 1
AUTHENTICATION_CPID             = "admin"
AUTHENTICATION_PASSWORD         = ""
OPRERATION_CLI                  = "54321"
47_PASSWORD                     = ""
190sym_PASSWORD                 = ""
OFFLINE_DLR_SUBSCRIPTION_MODE   = "sms"
OFFLINE_DLR_UNSUBSCRIPTION_MODE = "sms"
RENEWAL_DLR_SUBSCRIPTION        = "sms"
DLR_UNSUBSCRIPTION_MODE			= "sms"
DLR_SUBSCRIPTION_MODE           = "sms"
OFFLINE_DLR_RENEWAL_MODE        = "offline"
INVALID_MO_SENDERID             = "TN-123456"
SEND_ALERT_MESSAGE_FOR_CPID     = "5001"
FREE_MESSAGE_PRODUCT_ID   ="0"
CLI = '1223'
INVALIDKEYWORD                       = "Invalid keyword, Please send correct keyword"
MESSAGE_ALREADY_SUBSCRIBED           = "Dear customer you are already subscribed."
UNSUBSCRIPTION_UNSUCCESSFULL_MESSAGE = "Dear Subscriber you are not subscribed to ~servicename~ service"
RENEWAL_MESSAGE                      = "Dear Customer, your ~servicename~ service is renewed. Thank you. To unsubscribe, send ~keyword~ to ~cli~."
UNSUBSCRIPTION_SUCCESSFULL_MESSAGE   = "You have successfully unsubscribed from the ~servicename~ service . To re-subscribe to the service again send ~keyword~ to ~cli~"
REQUEST_APPLICATION_URL = ""
DLR_APPLICATION_URL = ""
CHARGING_SUBSCRIPTION_URL =""
