[messages]
ALREADY_SUBSCRIBED 	= "You are already subscribed to the __SERVICENAME__ alerts"
ALL_CONTENT_SENT	= "You have received enough contents"
MOH_EXCEEDS			= "Temporarirly service unavailable. Please try again later"
INVALID_SERVICE		= "No service available"
INSUFFICENT_BALANCE = "Insufficent Balance"
INVALID_UNSUBSCIRBED = "You are not subscribed __KEYWORD__ alerts from the __SERVICE__.To subscribe SMS __ACTKEYWORD__ to __CLI__"

[status code]
RESPONSE_UNABLE_TO_PROCESS_CHARGING = "Unable to process charging"
RESPONSE_ALREADY_SUBSCRIBED = "Dear Customer, You are already Subscribed to this service."
RESPONSE_SUBSCRIPTION_SUCESSFULL = " เรียนลูกค้าคุณได้ลงทะเบียน ~keyword~ แล้ว คุณถูกเรียกเก็บ ~cost~ บาท สำหรับ ~period~วัน. ขอบคุณที่ใช้บริการ. ถ้าต้องการยกเลิกบริการ พิมพ์ ~unsubkey~ ส่งไปที่ ~mocli~ (ฟรี) "
RENEWAL NOTIFICATION MESSAGE ="Dear customer, you ~keyword~ is going to renew for ~cost~."
RESPONSE_INSUFFICIENT_BALANCE = "Dear Customer, you don't have sufficient balance to subscribe to this service. Kindly recharge or top-up your account & try again."
RESPONSE_UNSUBSCRIPTION_SUCESSFULL = "Dear Customer, You are now unsubscribed from this service. Hope you would give us a chance to serve you again."
RESPONSE_UNSUBSCRIPTION_UNSUCESSFULL = "Dear Customer, You are not subscribed to this service. Please call customer care for more info."
RESPONSE_INVALID_KEYWORD = "Dear Customer, you have sent an incomplete/incorrect keyword. Please send a complete/correct keyword or call customer care more info"
RESPONSE_FUTURE_SERVICE = "Dear Customer, you are now subscribed to ~keyword~ service at Rs.~cost~ per day.Thank you for using our services."
RESPONSE_DEACTIVATION_SUCESSFULL = "Dear Customer, You are now unsubscribed from this service. Hope you would give us a chance to serve you again."
RESPONSE_DEACTIVATION_UNSUCESSFULL = "Dear Customer, You are not subscribed to this service. Please call customer care for more info."
RESPONSE_ACTIVATION_SUCESSFULL = "Dear Customer,you are now subscribed to ~keyword~ service. Thank you for using our services.To unsubscribe send ~unsubkey~ to 54321 (Toll free)"
RESPONSE_ALREADY_ACTIVATED = "Dear Customer, You are already subscribed to this service."

RESPONSE_UNSUBSCRIPTION_ALL_SUCESSFULL = "Dear Customer, You are now unsubscribed from all service(s). Hope you would give us a chance to serve you again."

RESPONSE_NOMORE_CONTENT = "Dear Customer, There is no more content available for today,Please try tomorrow"

MT_SUBSCRIPTION_CHARGING_SUCCESSFULL = "Subscription was charged successfully."
MT_CONTENT_PROCESS_CHARGING_SUCCESSFULL = "Pull content was successfully delivered after charging."
MT_RENEWAL_CHARGING_SUCCESSFULL = "Service was successfully renewed."
MT_TRANSACTION_NOT_FOUND = "Sorry no pending transaction found for the given transaction id."
MT_DEACTIVATED_ALREADY = "Customer has deactivated before charging"
RESPONSE_SUBSCRIPTION_UNABLE_TO_CHARGE = "Dear Customer, currently unable to charge, Please try later"
RESPONSE_RENEWAL_UNABLE_TO_CHARGE = "Dear Customer, currently unable to renew your service"
RESPONSE_CORRECT_KEYWORD = "Dear Customer, you have sent an incomplete/incorrect keyword. Please send ~key~ to ~cli~"
MT_CHARGING_TIMEOUT = "Dear Customer, charging timed out. Try again later"

